    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

    #data-table_wrapper{
        width: 100%;
    }

    .page-item .page-link{
        color: #6c757d;
    }
    
    .page-item.active .page-link{
        background-color: red !important;
        border-color: red !important;
    }

    .page-item.active .page-link{
        background-color: red !important;
        border-color: red !important;
    }
    
    #welcome-argaswara{
        font-size: 130% !important;
    }

    #kami-hadirkan{
        font-size: 28px;
        margin-top: 28px;
    }

    /*Bento Box*/
    .menu__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .gradient-red-black{
        background: -webkit-linear-gradient(#b0575d,#150b0c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    /* .menu__item--bento:hover,
    .menu__item--bento:focus 
    .bento-box:nth-child(0),
    .bento-box:nth-child(4),
    .bento-box:nth-child(6),
    .bento-box:nth-child(8) {
        opacity: 0;
    } */


    .menu__wrapper>div {
        width: 60px;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menu__wrapper>div:hover,
    .menu__wrapper>div:focus {
        outline: none;
    }

    .menu__wrapper.span {
        display: inline-block;
        text-align: center;
        line-height: 1.2;
        padding: 20px;
        margin-top: auto;
    }

    .bento-box {
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .bento-box {
        width: 10px;
        height: 10px;
        background: darkgray;
        margin: 3px 3px;
        display: inline-block;
    }

    /* -------------------------------------- */

    body {
        font-family: 'Roboto';
    }

    .bg-pink {
        background-color: #87267B;
    }

    *:focus {
        outline: none;
    }

    .circle-slider {
        padding-top: 85%;
        width: 80%;
        border-radius: 2%;
        margin: 0 auto;
        margin-top: 50px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .player-index{
        border-radius: 10px; 
        width: 80% !important; 
        margin: 0 auto;
        margin-top: 40px;
        height: 90px;
    }

    .selamat-datang{
        font-size: 2.5vw;
    }

    .px-8p{
        width: 100%;
        padding: 0 8%;
    }

    .player-slider {
        width: 100%;
        height: 100px;
        /* background-color: red; */
        margin-top: 50px;
    }

    .player-sm {
        position: absolute;
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -35px;
        height: 90px;
    }

    .wrapper-slider {
        position: relative;
        transition: transform 1s;
        width: 55%;
    }

    .wrapper-slider >  .bottom-container{
        opacity: 0;
        transition: 0.5s;
    }

    .item-slider {
        padding-top: 130px;
        display: flex !important;
        justify-content: center;
    }

    .slick-current>.wrapper-slider {
        transform: translateY(-130px);
    }

    .slick-current>.wrapper-slider>.bottom-container {
        opacity: 1.0;
    }

    .slick-dots {
        bottom: 80px;
    }

    .coba {
        width: 60%;
        height: 65px;
        position: relative;
        top: -130px;
    }
    .slick-index{
        /* margin-top:100px; */
        margin-top: 50px;
    }
    .play-music {
        display: block !important;
        visibility: hidden;
        opacity: 0;
        width: 45px !important;
        /*45%,35%,25%*/
        height: auto;
        color: white;
        display: block;
    }

    .trigger-navbar {
        width: 25px;
        height:25px;
        cursor:pointer;margin-right:10px;filter:contrast(100%) brightness(0) invert(1)
    }

    .navbar-pink {
        /*background-color: #f9e7e5;*/
        background-color: #87267B;
    }

    .player-music {
        /* width: 85px; */
        /* padding: 2px; */
        /* height: 85px; */
        display: flex;
        justify-content: center;
        /* border-color: aquamarine; */
        background-color: red;
        /* border: 5px; */
        position: absolute;
        top: -40px;
        border-radius: 60%;
    }

    .player-controller {
        position: absolute;
        height: inherit;
        background-color: red;
        display: flex;
        justify-content: center;
    }

    .navbar {
        box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.5);
        transition: 0.6s;
        height: 85px;
    }

    .navbar-collapse {
        height: inherit;
    }

    .search {
        width: 30%;
        height: 50%;
        position: absolute;
        display: none;
        right: 50px;
        top: 20px;
        z-index: 2000;
    }

    .search-input {
        outline: 0;
        font-size: 16px;
        font-family: 'Roboto';
        padding: 10px 10px;
        border: 0;
        border-bottom: 1px solid #e7e7e7;
        background-color: white;
    }

    .navbar-nav {
        height: inherit;
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0) !important;
    }

    .active {
        position: relative;
        /* top: 0px; */
        /* top: 2.5px;*/
    }

    .pagination  .active{
        top: 0px !important;
    }

    .nav-item {
        height: inherit;
        display: flex;
        position:relative;
        flex-direction: column;
        justify-content: center;
    }

    .playfair-display {
        font-family: 'Playfair Display', serif;
    }

    .play-fair-display-i {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto {
        font-family: 'Roboto';
    }

    .montserrat-extra-bold {
        font-family: 'Montserrat';
        font-weight: 900;
        color: #000000;
    }

    /* .montserrat-bold{
        font-family: 'Montserrat';
        font-weight: 700;
    } */
    .montserrat {
        font-family: 'Montserrat' !important;
        font-weight: 700;
    }

    .nav-item>.nav-link {
        font-size: 18px;
    }

    .active-nav {
        padding: 2.0px;
        background-color: red;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    .carousel-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .carousel-title {
        display: block;
        position: relative;
        width: 50%;
        margin: 0 auto;
        margin-top: 45vh;
        font-size: 4vw;
        color: white;
        text-align: center;
    }

    .carousel-item>.d-block {
        object-fit: cover;
        height: 100vh;
    }

    .layers-image {
        /* background-image: url('../image/layers-image.png'); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        /* height: 38vw; */
    }

    .layers-image-2 {
        /* position: absolute; */
        width: 100%;
        display: block;
    }

    .sidebar-pink {
        position: fixed !important;
        z-index: 2000;
        display: block;
        height: 100%;
        width: 100%;
        background-color: #87267B;
        /* overflow-y: scroll; */
    }

    .sidebar-pink-item {
        padding: 13px 50px;
        color: #38214a;
        font-size: 35px;
        letter-spacing: 1px;
    }

    .sidebar-pink-sub-item {
        font-family: 'Roboto';
        padding: 13px 0px;
        padding-left: 70px;
        font-size: 30px;
        letter-spacing: 1px;
    }

    .sidebar {
        position: fixed !important;
        z-index: 2000;
        display: block;
        height: 100%;
        width: 260px;
        background-color: #1d1e20;
    }

    .sidebar-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 25px;
    }

    .sidebar-item {
        padding: 13px 0px;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .sidebar-sub-item {
        font-family: 'Roboto';
        padding: 13px 0px;
        padding-left: 12px;
        color: white;
        font-size: 10px;
        letter-spacing: 1px;
    }

    .sidebar-item>a {
        color: white;
        text-decoration: none;
    }

    .sidebar-hr {
        position: absolute;
        width: 100%;
        background-color: #393939;
        padding: 0.3px;
        left: 0;
        margin-top: 10px;
    }

    #cross-sidebar {
        color: white;
        position: absolute;
        right: 10px;
        top: 27px;
    }

    .title-services {
        font-size: 18px;
        margin-top: 10px;
    }

    .detail-services {
        font-size: 13px;
        margin-top: 12px;
        color: gray;
    }

    .image-invite {
        width: 100%;
        padding-top: 60%;;
        background-position: center;
        background-image: url('/image/layers-image-3.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .video-invite {
        width: 100%;
        padding-top: 60%;;
    }

    /* .image-invite{
        width:100%;
        padding-top:100%;
        background-position: 25%;
        background-image: url('../image/layers-image-2.png');
        background-repeat: no-repeat;
        background-size:auto;
    } */
    .container-invite {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .title-invite {
        color: white;
        /* font-size: 2.4vw; */
        /* padding-top: 10%; */
        font-size: 30px;
        padding-right: 80px;
    }

    .detail-invite {
        color: white;
        padding-top: 30px;
        /* padding-bottom: 30px; */
        padding-right: 80px;
        font-size: 18px;
        color: gray;
    }

    .btn-invite {
        padding: 13px 30px;
        width: 185x;
        background-color: #3b55e6;
        color: white;
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        font-size: 12px;
    }

    .btn-invite:hover {
        background-color: #3b55e6;
        color: white;
        font-style: normal;
        text-decoration: none;
    }

    .btn-submit{
        border: 0;
        background-color: red;
        color: white;
        width: 250px;
        height: 55px;
        border-radius: 5px;
    }

    .download-pdf {
        font-size: 15px;
        flex-basis: 120px;
        margin-left: 35px
    }

    .title-composer {
        font-size: 20px;
    }

    .title-composer-page {
        font-size: 3vw;
        margin: 20px 0;
    }

    .container-composer {
        flex: 0 0 20%;
    }

    .container-composer>img:hover {
        transition: transform .2s;
        transform: scale(1.05);
    }

    .image-card-artist:hover {
        transition: transform .4s;
        transform: scale(1.1);
    }

    .card-artist {
        border-radius: 5px;
        overflow: hidden;
        height: 400px;
        width: 300px;
        -webkit-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.5);
    }

    .image-card-artist {
        width: inherit;
        height: 280px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .title-card-artist {
        z-index: 1000;
        position: relative;
        width: inherit;
        text-align: center;
        background-color: red;
        color: white;
    }

    .detail-card-artist {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: inherit;
        padding: 0 10px;
        font-size: 13px;
        margin-top: 15px;
        text-align: justify;
    }

    .section-artist {
        padding: 0 5%;
    }

    .title-selection-artist {
        font-size: 2.5vw;
    }

    .title-selection-composer {
        font-size: 2.5vw;
    }

    .card-artist-sm {
        align-self: center;
        margin: 8px;
        border-radius: 5px;
        width: 90%;
        display: flex;
        height: 120px;
        -webkit-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.5);
    }

    .image-card-sm {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        flex: 0 0 120px;
        height: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .card-content-sm {
        font-family: Georgia, 'Times New Roman', Times, serif !important;
        padding-top: 2px;
        color: red;
        display: block;
        position: relative;
        flex: 0 0 calc(100% - 140px);
        margin: 0 auto;
    }

    .card-line {
        padding: 0.5px;
        background-color: red;
        width: 100%;
    }

    .card-desc-sm {
        color: black;
        font-size: 11px;
        text-align: justify;
        margin-top: 13px;
    }

    .my-anchor {
        display: block !important;
        color: initial;
        text-decoration: none;
    }

    .my-anchor:hover {
        text-decoration: none;
        color: initial;
    }

    .hover-white:hover {
        color: white;
    }

    .cr-footer {
        background-color: red;
        font-size: 18px;
        padding-top: 70px;
        padding-bottom: 70px;
        font-family: 'Roboto';
    }

    .content-footer {
        width: 300px;
        display: block;
        position: relative;
        margin: 0 auto;
        filter: invert(0%) !important;
    }

    .joox-footer {
        filter: invert(1);
        width: 60px;
    }

    .section-footer {
        background-color: #bb5560;
    }

    .link-footer {
        color: white;
        font-size: 12px;
        font-style: italic;
    }

    .section-form {
        padding: 0 7%;
    }

    .text-subscribe {
        font-size: 1.7vw;
    }

    .email-subscribe {
        width: 80%;
        padding: 8px 13px;
        font-family: 'Roboto';
        border: 1px solid #e7e7e7;
        background-color: #f2f2f2;
        font-size: 15px;
        margin-bottom: 30px;
        transition: 0.5s;
    }

    .email-subscribe:focus,
    .email-subscribe:hover {
        outline: 0;
        background-color: white;
        -webkit-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 11px 20px -1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.5);
    }

    .submit-subscribe {
        font-family: 'Montserrat';
        font-size: 11px;
        background-color: red;
        color: white;
        padding: 0px 25px;
        border: 0;
        flex: 0 0 18%;
        height: 40px;
    }

    .line-subscribe {
        padding: 0.1px;
        background-color: #e7e7e7;
        flex: 0 0 48%;
        margin-bottom: 25px;
    }

    .message-pink-input {
        font-size: 16px;
        font-family: 'Roboto';
        padding: 6px 10px;
        border: 0;
        border-bottom: 1px solid #e7e7e7;
        background-color: #f9e7e5;
    }

    .message-input {
        font-size: 16px;
        font-family: 'Roboto';
        padding: 6px 10px;
        border: 0;
        border-bottom: 1px solid #e7e7e7;
    }

    .message-input-2{
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 4px;
        border: 1px solid #acaeaf;
    }

    .message-border-animate {
        padding: 0px;
        width: 0px;
        background-color: red;
        -webkit-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;
    }

    .message-input:focus {
        outline: 0;
    }

    .message-input:focus+.message-border-animate {
        padding: 1px;
        width: 100%;
    }

    .message-pink-input:focus {
        outline: 0;
    }

    .message-pink-input:focus+.message-border-animate {
        padding: 1px;
        width: 100%;
    }

    .big-artist {
        margin-top: 100px;
        padding: 0 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .my-col-md-4 {
        flex: 0 0 30%;
        padding: 0 5px;
    }

    .card-clg-artist {
        height: auto;
        border-radius: 5px;
        display: flex;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img-sub-catalogue {
        transition: transform .5s;
        width: 100%;
        border-radius: 10px;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
    }

    .img-blog{
        background-color: gray;
        border-radius: 10px;
        width: 100%;
        padding-top: 45%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .desc-img-blog{
        padding: 0 40px;
    }

    .img-sub-blog {
        border-radius: 10px;
        transition: transform .5s;
        width: 100%;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .img-author-blog{
        height: 20px;
        width: 20px;
        /* background-color: grey; */
        background-size: cover;
        border-radius: 50%;
    }

    .title-berita{
        font-size: 2.0vw;
    }

    .img-sub-sm-blog {
        width: 100%;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .jumbotron-img {
        margin-top: 75px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .text-jumbotron-img {
        padding: 10% 0;
    }

    .img-sub-blog:hover {
        transform: scale(1.2);
    }

    .w-clg-100 {
        width: 100%;
    }

    .w-clg-50 {
        width: 50%;
    }

    .w-clg-34-5 {
        width: 34.5%;
    }

    .pm-xl {
        margin: 0 auto;
    }

    .pm-sm {
        margin: 17% auto;
    }

    .flex-20 {
        flex: 0 0 35%;
    }

    .flex-80 {
        flex: 0 0 65%;
    }

    .font-14 {
        font-size: 14px;
    }

    .bg-card-clg-artist {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.0);
        border-radius: inherit;
        transition: 0.4s;
    }

    .many-carousel {
        padding-left: 5%;
    }

    .top-song-artist {
        padding-right: 5%;
    }

    .bg-composer {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 85%;
        padding-top: 85%;
    }

    @keyframes play-music {
        from {
            visibility: hidden;
            opacity: 0;
        }

        to {
            visibility: visible;
            opacity: 1;
        }
    }

    .container-play-music {
        width: 100%;
        padding: 35% 0;
        /*10%,15%,23%*/
    }

    .container-play-music-xl {
        width: 100%;
        padding: 28% 0;
        /*10%,15%*/
    }

    .container-play-music-sm {
        width: 100%;
        padding: 10% 0;
        /*10%,15%*/
    }

    .card-clg-artist:hover .bg-card-clg-artist {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .card-clg-artist:hover .play-music {
        animation: play-music .4s ease-in;
        animation-fill-mode: forwards;
    }

    .container-new-song {
        flex: 0 0 20%;
        padding: 0 5px;
        padding-bottom: 30px;
    }

    .overflow-scroll {
        overflow-x: scroll;
    }

    .container-artist {
        flex: 0 0 25%;
        padding: 0 5px;
        padding-bottom: 30px;
    }

    .grey-footer-dll-1 {
        flex: 0 0 21%;
    }

    .grey-footer-dll-2 {
        flex: 0 0 13%;
    }

    .grey-footer-cp {
        flex: 0 0 20%;
        margin-left: auto;
    }

    .readmore {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: left;
        height: 1.5em;
        opacity: 1;
        font-size: 2.7vw;
        text-align: center;
      }
      .hr-text:before {
        content: '';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }
      .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 0.5em;
        line-height: 1.5em;
        color: black;
        background-color: white;
      }
      

    @media(min-width:960px) {
        .logo-navbar {
            width: 250px;
        }
    }

    @media(max-width:1400px) {
        .circle-slider {
            width: 100% !important;
        }
        
        .player-index{
            width: 100% !important; 
        }
    }

    @media(max-width:1200px) {
        
        .image-invite {
            position: relative;
            background-size: cover;
            padding-top: 70%;
            top: 0;
        }

        .video-invite {
            position: relative;
            padding-top: 70%;
            top: 0;
        }

        .detail-invite {
            padding-right: 0;
        }

        .title-invite {
            padding-top: 0;
        }

        .h-artist-clg {
            height: 60px;
        }
    }

    /* 960 */
    @media(max-width:992px) {

        .circle-slider {
            width: 100% !important;
        }
        
        .player-index{
            width: 100% !important; 
        }

        .wrapper-slider {
            width: 75%;
        }

        .title-composer-page {
            font-size: 3vw;
        }

        .font-14 {
            font-size: 14px;
        }

        .flex-change-clg {
            flex: 0 0 33.33%;
        }

        .title-invite {
            padding-top: 6%;
            padding-right: 0;
            font-size: 3.5vw;
        }

        .text-subscribe {
            font-size: 3.0vw;
        }

        .many-carousel {
            padding-left: 5%;
            padding-right: 5%;
        }

        .top-song-artist {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    @media(max-width:768px) {

        .hr-text{
            font-size: 5vw !important;
        }

        .selamat-datang{
            font-size: 4vw;
        }
        .wrapper-slider {
            width: 60%;
        }

        .player-slider {
            height: 80px;
        }

        .sidebar-pink-item {
            font-size: 20px;
        }

        .sidebar-pink-sub-item {
            font-size: 20px;
        }

        .grey-footer-cp {
            margin-top: 10px;
            flex: 0 0 100%;
            margin-left: unset;
            justify-content: center;
        }

        .grey-footer-dll-1 {
            flex: 0 0 60%;
        }

        .grey-footer-dll-2 {
            flex: 0 0 35%;
        }

        .cr-footer {
            justify-content: center;
        }
    }

    @media(max-width:576px){

        .cr-footer{
            text-align: left;
        }

        .title-berita{
            font-size: 5vw;
        }
        .wrapper-slider {
            width: 75%;
        }
        .item-slider {
            padding-top: 0px;
        }
        .slick-current>.wrapper-slider {
            transform: translateY(0px);
        }
        .coba{
            top: 0;
        }
    
    }

    @media(max-width:992px) {
        .jumbotron-img {
            margin-top: 55px;
        }

        .title-composer-page {
            font-size: 5vw;
        }

        .carousel-item>.d-block {
            object-fit: cover;
            height: 89vh;
        }

        .flex-change-clg {
            flex: 0 0 50%;
        }

        .navbar {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .logo-navbar {
            width: 160px;
        }

        .carousel-title {
            width: 70%;
            font-size: 6vw;
        }

        .barrier>.montserrat {
            font-size: 3vw !important;
        }

        .w-100>.playfair-display {
            font-size: 3vw !important;
        }

        .download-pdf {
            font-size: 11px;
            flex-basis: 120px;
            margin-left: 15px
        }

        .title-selection-artist {
            font-size: 3.5vw;
        }

        .title-selection-composer {
            font-size: 3.5vw;
        }

        .text-subscribe {
            font-size: 3.5vw;
        }
    }

    @media(min-width:1300px) {
        .card-artist-sm {
            width: 350px;
        }

        .card-content-sm {
            flex: 0 0 210px;
        }

        .section-artist {
            padding: 0 5%;
        }
    }

    @media(min-width:1500px){
        .wrapper-slider {
            width: 65%;
        }
    }
