/*
  1. Base
*/
/*
  2. Components
*/


.artist-name{
  font-weight: bolder;
  overflow-x: hidden;
  margin-top: 15px;
}

.artist-name span{
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

.control-song{
  justify-content: space-between;
  margin-top: 15px;
}

.amplitude-song-played-progress{
  margin-top: 5px;
  margin-bottom: 5px;
}

.marquee span {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 1s linear infinite;
    -webkit-animation: scroll-left 1s linear infinite;
    animation: scroll-left 5s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

div.control-container {
    margin-top: 10px;
    padding-bottom: 10px;
}

div.control-container div.amplitude-play-pause {
    width: 17px;
    height: 19px;
    cursor: pointer;
}

div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("../img/play.svg");
    background-size: cover;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("../img/pause.svg");
    background-size: cover;
}


div.control-container div.amplitude-prev {
    width: 23px;
    height: 19px;
    cursor: pointer;
    background: url("../img/previous.svg");
    background-size: cover;
}

div.control-container div.amplitude-next {
    width: 23px;
    height: 19px;
    cursor: pointer;
    background: url("../img/next.svg");
    background-size: cover;
}

div.control-container div.meta-container {
    float: left;
    width: calc(100% - 84px);
    text-align: center;
    color: white;
    /* margin-top: 10px; */
}

div.control-container div.meta-container span[data-amplitude-song-info="name"] {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #38214a;
    font-weight: bold;
    display: block;
}

div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: darkgray;
    display: block;
}

div.control-container:after {
    content: "";
    display: table;
    clear: both;
}

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-play-pause {
        background-size: cover;
        width: 15px;
        height: 19px;
    }

    div.control-container div.meta-container {
        width: calc(100% - 74px);
    }
}

/*
  Medium only
*/
/*
  Large Only
*/
div.time-container {
    opacity: 0.9;
    margin-top: 2.5px;;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    color: #38214a;
    height: 15px;
}

div.time-container span.current-time {
    float: left;
    margin-left: 5px;
}

div.time-container span.duration {
    float: right;
    margin-right: 5px;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
progress.amplitude-song-played-progress {
    /* background-color: rgba(139, 131, 149, .4); */
    background-color: rgb(187 ,85 ,98);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border: none;
}

progress.amplitude-song-played-progress:not([value]) {
    background-color: rgb(204, 71, 88);
}

progress[value]::-webkit-progress-bar {
    background-color:rgb(204, 71, 88);
}

progress[value]::-moz-progress-bar {
    background-color: #f30a29;
}

progress[value]::-webkit-progress-value {
    background-color: #f30a29;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  3. Layout
*/
div.bottom-container {
    background-color: whitesmoke;
    border-radius: 10px;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
div#single-song-player {
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 7px 17.82px 0.18px rgba(228, 155, 148, .2);
    margin-top: 50px;
    width: 100%;
    /* max-width: 460px; */
    -webkit-font-smoothing: antialiased;
}

div#multi-song-player {
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 7px 17.82px 0.18px rgba(228, 155, 148, .2);
    width: 100%;
    /* max-width: 460px; */
    -webkit-font-smoothing: antialiased;
}

div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  4. Pages
*/
/*
  5. Themes
*/
/*
  6. Utils
*/
/*
  7. Vendors
*/

/*# sourceMappingURL=app.css.map */
