@import 'datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import 'datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'select2/dist/css/select2.css';

/* DataTables */
.dt-btn{
    margin-right: 2.5px;
}

.btn-datatables-icon{
    width: 30px;
}

.btn-datatables-group{
    float: right !important;
}

.dt-buttons{
    float: left;
}

#users-table_filter .form-control-sm{
    float: right !important;
}
/* DataTables */

/* Form */

/* Sweetalert */

.btn-sweetalert{
    margin: 0 0.5rem !important;
}

/* ------------------------------------- */
.show {
    display: block;
}

.hide {
    display: none;
}

.text-error {
    color: red;
    font-size: 80%;
}

.custom-file {
    width: 87%;
    margin-right: 3%;
}

.custom-file-loading {
    width: 10%;
}
/* ------------------------------------- */

/* Select2 */

.select2-search--dropdown .select2-search__field{
    border: 1px solid #e9ecef !important;
}

.select2-container .select2-selection--single{
    border: 1px solid #e9ecef !important;
}
	
.select2-search--dropdown .select2-search__field{
    border: 1px solid #e9ecef !important;
}
	
.select2-dropdown{
    border: 1px solid #e9ecef !important;
}

.select2-container .select2-selection--single{
    height: 100% !important;
    padding: 0.375rem 0.75rem !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: solid #e9ecef 1px !important; 
}

.select2-container--default .select2-selection--multiple{
    border: solid #e9ecef 1px !important; 
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 8px !important;
}

.select2 .select2-container .select2-container--default .select2-container--focus{
    width: 100% !important;
}

/* ------------------------------------- */